# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Build artifacts
build/
dist/
*.egg-info/


# Packaging
pip-wheel-metadata/
*.whl

# Test / coverage
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/

# IDEs / editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local config / secrets
.env
.env.*

# Other
temp/
.ruff_cache/
docs/wizard/
